<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mobileshopgtu4.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mobileshopgtu4.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mobileshopgtu4</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$mobileshopgtu4</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="D:\MOBILE_SHOP.MDFConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ec40wxhzhu.database.windows.net,1433;Initial Catalog=mobileshopgtu4_db;User ID=sagarpomal@ec40wxhzhu;Password=Sagar_123" Name="Data Source=tcp:ec40wxhzhu.database.windows.net,1433;Initial Catalog=mobileshopgtu4_db;User Id=sagarpomal@ec40wxhzhu;Password=Sagar_123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=WIN-52CLC5SG777;Initial Catalog=D:\MOBILE_SHOP.MDF;Integrated Security=True" includeData="False" />
            <Source Path="D:\MOBILE_SHOP.MDFConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=WIN-52CLC5SG777;Initial Catalog=D:\MOBILE_SHOP.MDF;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MobileConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:ec40wxhzhu.database.windows.net,1433;Initial Catalog=mobileshopgtu4_db;User ID=sagarpomal@ec40wxhzhu;Password=Sagar_123" Name="Data Source=tcp:ec40wxhzhu.database.windows.net,1433;Initial Catalog=mobileshopgtu4_db;User Id=sagarpomal@ec40wxhzhu;Password=Sagar_123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SAGAR-PC;Initial Catalog=Mobile;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MobileConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SAGAR-PC;Initial Catalog=Mobile;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)D:\MOBILE_SHOP.MDFConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ec40wxhzhu.database.windows.net,1433;Initial Catalog=mobileshopgtu4_db;User Id=sagarpomal@ec40wxhzhu;Password=Sagar_123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MobileConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ec40wxhzhu.database.windows.net,1433;Initial Catalog=mobileshopgtu4_db;User Id=sagarpomal@ec40wxhzhu;Password=Sagar_123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>